#HOSTING SESSION
API_DOMAIN=localhost
API_PORT=3002


# DATABASE SESSION
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=mypassword
DATABASE_NAME=englishschool

#TOKEM SESSION
TOKEN_SECRET=kjalkjsoiuekn34%$lklklklklklklkPPqwwASFZXCVSEWE
TOKEN_EXPIRATION=7d

