#HOSTING SESSION
API_DOMAIN=localhost
API_PORT=3006
PROTOCOL='http://'
#FRONT-END
FRONTEND_DOMAIN=localhost:3000

PROTOCOL_FRONTEND='http://'


# DATABASE SESSION
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=adm
DATABASE_PASSWORD=password123
DATABASE_NAME=apiassados

DATABASE_TIMEZONE="-03:00"
#DATABASE_TIMEZONE="America/Sao_Paulo"

#TOKEM SESSION
TOKEN_SECRET=kjalkjsoiuekn34%$lklklklklklklkPPqwwASFZXCVSEWE
TOKEN_EXPIRATION=7d

